<h1>Edit bookmark_tag</h1>

<form id="edit-bookmark_tag" name="bookmark_tag">
  <div class="field">
    <label for="bookmark_id"> bookmark_id:</label>
    <input type="text" name="bookmark_id" id="bookmark_id" value="<%= bookmark_id %>" >
  </div>

  <div class="field">
    <label for="tag_id"> tag_id:</label>
    <input type="text" name="tag_id" id="tag_id" value="<%= tag_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Bookmark tag" />
  </div>

</form>

<a href="#/index">Back</a>