<h1>Listing bookmark_tags</h1>

<table id="bookmark_tags-table">
  <tr>
    <th>Bookmark</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Bookmark tag</a>